.container {
  width: 90%;
  max-width: 350px;
  margin: 3rem auto;
  padding: 2rem;
  border: 1px solid rgba(255, 223, 182, 0.881);
  border-radius: 1rem;
  background-color: rgb(117, 114, 109);
}

.input {
  display: block;
  width: 100%;
  padding: 0.6rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.button {
  font-family: 'Poiret one', cursive;
  background-color: rgb(160, 147, 131);
  color: white;
  padding: 0.7rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #778888;
}

.error {
  color: #d00000;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.message {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}

.text {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #ffffff;
}

/*  RESPONSIVE */
@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
    margin: 2rem auto;
  }

  .text {
    font-size: 1.2rem;
  }
}